:root{

 --primaryColor:#af9a7d;
 --mainWhite:#fff;
 --offWhite:#f7f7f7;
 --mainGrey:#ececec;
 --darkGrey:#cfcfcf;
 --mainDark:#232528;
 --lightWhite:#f7f6f2;
 --lightShadow: 2px 5px 3px 0px rgba(0,0,0,0.5);
 --darkShadow:4px 10px 5px 0px rgba(0,0,0,0.5);

}

body{
  background-color: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  line-height: 1.4;
}

.text-title{
  font-family: 'Permanent Marker', cursive !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}